.imagen1{
    float: left;
}
.imagen2{
   float: left;
   padding-right: 15px;
}
.imagen3{
    align-items: left;
}
.descripcion{
    float: inline-start;
    margin-top: 10px;
}
.descripcion .row{
    background-color: bisque;
    border-width: 5px;
}

/* footer */

/* footer*/

footer {
    margin-top: 0.9375em;
    margin-bottom: 1.5625em;
    background-color: wheat;
}

#logo {
    height: 3.2875em;
    width: 3.2975em;
    margin-top: 1.2875em;
}

.legajo {
    margin-top: 1.2875em;

}

.ubicacion {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;


}

.phoneicon {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 2.875em;
}

.emailicon {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 2.8875em;
}
.button .btn-danger{
    padding-right: 10px;
}