/* encabezado */

.navbar {
    background-color: orange;
    font-family: 'Releway', sans-serif;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.875em;
    color: black;
}

/* footer */

#tab-content {
  background-color: orange;
}

#tab-content-1 {
  background-color: darkblue;
  padding-top: 0.6em;
}

.tab-0a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9375em;
    margin-bottom: 0.5em;
}

#logo {
    height: 3.2875em;
    width: 3.2975em;
}

.ubicacion {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;
}

.phoneicon {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;
}

.emailicon {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;
}

/* ----- Comienza el codigo cs para las estrellas ----- */

input[type="radio"] {
  display: none;
}
  
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
  
input[type="radio"]:checked ~ label {
  color: orange;
}


/* fondo */

body{ 
    background-image: url(https://cdn.lavoz.com.ar/sites/default/files/styles/width_1072/public/nota_periodistica/737-max-8_1552315835.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----- Producto portada ----- */

  .carta {
    transition: 0.3s ease;
  }
  
  .carta:hover {
    opacity: 1;
    transform: scale(1.05, 1.05);
  }
  
  .imagen1,
  .imagen2,
  .imagen3 {
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .imagen1:hover,
  .imagen2:hover,
  .imagen3:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  
  .incluye li {
    font-size: 1.1em;
    padding-bottom: 1em;
  }
  
  .descripcion {
    float: inline-start;
    margin-top: 10px;
  }
  
  .descripcion .row {
    border-width: 5px;
  }
  