.navbar {
    background-color: orange;
    font-family: 'Releway', sans-serif;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.875em;
    color: black;
}

#tab-content {
    background-color: orange;
}

#tab-content-1 {
    background-color: darkblue;
    padding-top: 0.6em;
}

.tab-0a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9375em;
    margin-bottom: 0.5em;
}

/* footer*/

#logo {
    height: 3.2875em;
    width: 3.2975em;
}

.ubicacion {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;
}

.phoneicon {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;
}

.emailicon {
    height: 2.1875em;
    width: 2.1875em;
    margin-top: 1.2875em;
}

/* ----- Comienza el codigo cs para las estrellas ----- */

  input[type="radio"] {
    display: none;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

/* fondo */
body{ 
    background-image: url(https://cdn.lavoz.com.ar/sites/default/files/styles/width_1072/public/nota_periodistica/737-max-8_1552315835.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
